<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'profile' %>
      <div class="column is-half">
        <%= render 'form', tweeet: @tweeet %>
      </div>
      <%= render 'suggested-follows' %>
    </div>
  </div>
</section>
